<div id="<%= dom_id child %>">
  <p>
    <strong>Name:</strong>
    <%= child.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= child.age %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= child.parent_id %>
  </p>

  <p>
    <strong>Pin code:</strong>
    <%= child.pin_code %>
  </p>

</div>
