<%= form_with(model: child, local: true, class: 'space-y-6') do |form| %>
  <% if child.errors.any? %>
    <div class="p-4 bg-red-50 border-l-4 border-red-500 text-red-700 rounded-lg">
      <h2 class="font-semibold"><%= pluralize(child.errors.count, "error") %> prohibited this child from being saved:</h2>
      <ul class="mt-2 list-disc list-inside text-sm text-red-700">
        <% child.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, class: 'input-field' %>
  </div>

  <div>
    <%= form.label :birthday, class: 'label' %>
    <%= form.date_field :birthday, class: 'input-field', max: Date.current %>
  </div>

  <div>
    <%= form.label :pin_code, class: 'label' %>
    <%= form.password_field :pin_code, class: 'input-field' %>
  </div>

  <div>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
