<div id="<%= dom_id chore_assignment %>">
  <p>
    <strong>Child:</strong>
    <%= chore_assignment.child_id %>
  </p>

  <p>
    <strong>Chore:</strong>
    <%= chore_assignment.chore_id %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= chore_assignment.day %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= chore_assignment.completed %>
  </p>

  <p>
    <strong>Approved:</strong>
    <%= chore_assignment.approved %>
  </p>

  <p>
    <strong>Completion photo:</strong>
    <%= chore_assignment.completion_photo %>
  </p>

</div>
