<%= form_with(model: chore_assignment) do |form| %>
  <% if chore_assignment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(chore_assignment.errors.count, "error") %> prohibited this chore_assignment from being saved:</h2>

      <ul>
        <% chore_assignment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :child_id, style: "display: block" %>
    <%= form.select :child_id, options_from_collection_for_select(Child.all, :id, :name, chore_assignment.child_id), { prompt: 'Select a child' } %>
  </div>

  <div>
    <%= form.label :chore_id, style: "display: block" %>
    <%= form.select :chore_id, options_from_collection_for_select(Chore.all, :id, :name, chore_assignment.chore_id), { prompt: 'Select a chore' } %>
  </div>

  <div>
    <%= form.label :day, style: "display: block" %>
    <%= form.select :day, ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'], { prompt: 'Select a day' } %>
  </div>

  <div>
    <%= form.label :completed, style: "display: block" %>
    <%= form.check_box :completed %>
  </div>

  <div>
    <%= form.label :approved, style: "display: block" %>
    <%= form.check_box :approved %>
  </div>

  <div>
    <%= form.label :completion_photo, style: "display: block" %>
    <%= form.text_field :completion_photo %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
