<div id="<%= dom_id game_session %>">
  <p>
    <strong>Child:</strong>
    <%= game_session.child_id %>
  </p>

  <p>
    <strong>Game:</strong>
    <%= game_session.game_id %>
  </p>

  <p>
    <strong>Duration minutes:</strong>
    <%= game_session.duration_minutes %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= game_session.started_at %>
  </p>

  <p>
    <strong>Ended at:</strong>
    <%= game_session.ended_at %>
  </p>

</div>
