<div class="card">
  <h2><%= game.name %></h2>
  <p><%= game.description %></p>
  <p>Cost: <%= game.token_per_minute %> tokens / minute</p>
  <%= link_to 'Play (Pong)', '/games/pong.html', target: '_blank' %>
</div>
<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= game.description %>
  </p>

  <p>
    <strong>Token per minute:</strong>
    <%= game.token_per_minute %>
  </p>

</div>
