<div id="<%= dom_id chore %>">
  <p>
    <strong>Name:</strong>
    <%= chore.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= chore.description %>
  </p>

  <p>
    <strong>Definition of done:</strong>
    <%= chore.definition_of_done %>
  </p>

  <p>
    <strong>Token amount:</strong>
    <%= chore.token_amount %>
  </p>

  <p>
    <strong>Recurrence:</strong>
    <%= chore.recurrence %>
  </p>

</div>
